{% extends 'user_base.html' %}

{% block page %}
    {% if is_empty %}
        <p>No users!</p>
    {% else %}
        <hr>
        {% for user in users %}
            <div>
                <p><a href="{% url 'order:user_orders' user.id%}">
                    id {{user.id}}. {{user.first_name}} {{user.middle_name}} {{user.last_name}}
                </a></p>
                <p>Email: {{user.email}}</p>
                <p>Created: {{user.created_at}}</p>
                <p>Last change: {{user.updated_at}}</p>
                <p><a href="{% url 'user:update_user' user.id%}">Update user</a></p>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock%}