{% extends 'book_base.html' %}

{% block page %}
    {% if not_found %}
        <p>There is no book with id {{id}} in library</p>
    {% else %}
        <div class="book">
            <p>Found book with id {{id}}:</p>
            <p>{{book.name}} ( {{book.description}})</p>
            <p>Only {{book.count}} books left</p>
            <p>By authors:</p>  
                {% for author in book.authors.all%}
                <p><a href="/book/author_{{author.id}}">{{author.name}} {{author.surname}} {{author.patronymic}}</a></p>
                {% endfor %}
        </div>
        <hr>
        <a href="{% url 'book:book_update' id %}">Update book</a>
    {% endif %}
{% endblock %}