{% extends 'order-base.html' %}

{% block page %}

{% if user_not_found %}

    <p>No such user in library!</p>

{% else %}
    {% if is_empty %}
        
        <p>No orders from {{user.first_name}} {{user.middle_name}} {{user.last_name}}</p>

    {% else %}

        <p>Orders by {{user.first_name}} {{user.middle_name}} {{user.last_name}}:</p>
        <hr>
        {% for order in orders %}
        <p>Order (id {{order.id}}):</p>
        <p>Book: <a href="/book/{{order.book.id}}">{{order.book.name}}</a></p>
        <p>Was created: {{order.created_at}}</p>
        <p>Order ends: {{order.plated_end_at}}</p>
        <hr>
        {% endfor %}

    {% endif %}

{% endif %}
{% endblock page %}